.avatar {
    width: 1536px;
    height: 100%;
}

.big-icon {
    font-size: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.section-subheading {
    color: $sta-primary;
}

ul.ul-interests li {
    padding: 4px;
    padding-left: 0px;
}

.text-center > h1.mb-0:before {
    content:"";
    width:7px;
    height:7px;
    border-radius:50%;
    background: $sta-primary;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

.text-center > h1.mb-0:after {
    content:"";
    width:7px;
    height:7px;
    border-radius:50%;
    background: $sta-primary;
    display: inline-block;
    margin-bottom: 11px;
    margin-left: 5px;
}

.section-heading {
    letter-spacing: 4px;
}

ul.ul-edu li .description p.course {
    font-size: 0.9rem;
    line-height: 1rem;
}

.article-container {
    max-width: 90%;
}